# Liste des fichiers de l'arborescence a faire ignorer par git:
# les fichiers caches de travail Mac (.DS_Store) et les fichiers de
# travail de compilation Latex (je ne veux que les sources sur git)

.DS_Store

# Ignorer tous les fichiers de travail Latex
**/*Src_Latex/*.gz
**/*Src_Latex/*.aux
**/*Src_Latex/*.log
**/*Src_Latex/*minted*/
**/*Src_Latex/*.pdf
**/*Src_Latex/*.out
**/*Src_Latex/*.toc
**/*Src_Latex/*.cut
