# Liste des fichiers de l'arborescence a faire ignorer par git:
# les fichiers caches de travail Mac (.DS_Store) et les fichiers de
# travail de compilation Latex (je ne veux que les sources sur git)

.DS_Store

# Ignorer tous les fichiers de travail Latex
**/5.Src_Latex/*.gz
**/5.Src_Latex/*.aux
**/5.Src_Latex/*.log
**/5.Src_Latex/*minted*/
**/5.Src_Latex/*.pdf
**/5.Src_Latex/*.out
**/5.Src_Latex/*.toc
**/5.Src_Latex/*.cut
