# Liste des fichiers de l'arborescence a faire ignorer par git:
# les fichiers caches de travail Mac (.DS_Store) et les fichiers de
# travail de compilation Latex (je ne veux que les sources sur git)

.DS_Store

# Ignorer tous les fichiers de travail Latex
**/*Src_Latex/*.gz
**/*Src_Latex/*.aux
**/*Src_Latex/*.log
**/*Src_Latex/*minted*/
**/*Src_Latex/*.pdf
**/*Src_Latex/*.out
**/*Src_Latex/*.toc
**/*Src_Latex/*.cut

# Même chose mais pour mon petit outil Python2PDF
**/z.PDFageCodePython/*.gz
**/z.PDFageCodePython/*.aux
**/z.PDFageCodePython/*.log
**/z.PDFageCodePython/*minted*/
**/z.PDFageCodePython/*.pdf
**/z.PDFageCodePython/*.out
**/z.PDFageCodePython/*.toc
**/z.PDFageCodePython/*.cut

# Ajout des fichiers de travail de mon IDE - même si je ne suis pas bien sûr de ce qu'IDEA vient faire là-dedans
**/.idea/
